<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodright.blurryworld.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="Comment">
        <id property="commentId" column="comment_id" />
        <result property="commentPostId" column="comment_post_id" />
        <result property="commentAuthorId" column="comment_author_id" />
        <result property="commentParentId" column="comment_parent_id" />
        <result property="commentCreateTime" column="comment_create_time" />
        <result property="commentStatus" column="comment_status" />
        <result property="commentContent" column="comment_content" />
        <result property="commentLikes" column="comment_likes" />
        <result property="commentDislikes" column="comment_dislikes" />
    </resultMap>

    <resultMap id="childCommentResultMap" type="ChildComment">
        <id property="commentId" column="comment_id" />
        <result property="commentPostId" column="comment_post_id" />
        <result property="commentAuthorId" column="comment_author_id" />
        <result property="commentParentId" column="comment_parent_id" />
        <result property="commentCreateTime" column="comment_create_time" />
        <result property="commentStatus" column="comment_status" />
        <result property="commentContent" column="comment_content" />
        <result property="commentLikes" column="comment_likes" />
        <result property="commentDislikes" column="comment_dislikes" />
        <!-- 字评论类多了相比父评论类两个字段 -->
        <result property="parentCommentAuthorId" column="parent_comment_author_id" />
        <result property="parentCommentAuthorUsername" column="parent_comment_author_username" />
    </resultMap>

    <!-- 添加评论 -->
    <insert id="addComment" parameterType="Comment">
        insert into `comment`
        (`comment_post_id`,
         `comment_author_id`,
         `comment_create_time`,
         `comment_content`
        )
        values
        (
         #{commentPostId},
         #{commentAuthorId},
         #{commentCreateTime},
         #{commentContent}
        )
    </insert>

    <!-- 添加子评论 -->
    <insert id="addChildComment" parameterType="ChildComment">
        insert into `comment`
        (`comment_post_id`,
         `comment_author_id`,
         `comment_create_time`,
         `comment_content`,
         `comment_parent_id`,
         `parent_comment_author_id`,
         `parent_comment_author_username`
        )
        values
        (
         #{commentPostId},
         #{commentAuthorId},
         #{commentCreateTime},
         #{commentContent},
         #{commentParentId},
         #{parentCommentAuthorId},
         #{parentCommentAuthorUsername}
        )
    </insert>

    <!-- 根据文章编号分页查询评论 -->
    <select id="queryRootCommentsByPostId" parameterType="map" resultMap="commentResultMap">
        select * from `comment`
        where `comment_post_id` = #{postId} and `comment_status` = 0 and ISNULL(`comment_parent_id`)
        limit #{startIndex}, #{pageSize}
    </select>

    <!-- 根据评论编号分页查询子评论 -->
    <select id="queryChildCommentsByCommentId" parameterType="map" resultMap="childCommentResultMap">
        select * from `comment`
        where `comment_parent_id` = #{commentId} and `comment_status` = 0
        limit #{startIndex}, #{pageSize}
    </select>

    <!-- 根据文章编号查询根评论总数 -->
    <select id="queryRootCommentCountsByPostId" parameterType="Integer" resultType="_int">
        select count(*) from `comment`
        where `comment_post_id` = #{postId} and `comment_status` = 0 and ISNULL(`comment_parent_id`)
    </select>

    <!-- 根据文章编号查询全部评论总数 -->
    <select id="queryCommentCountsByPostId" parameterType="Integer" resultType="_int">
        select count(*) from `comment`
        where `comment_post_id` = #{postId} and `comment_status` = 0
    </select>

    <!-- 根据评论编号伪删除评论 -->
    <update id="deleteCommentsByCommentId" parameterType="Integer">
        update `comment` set
        `comment_status` = 1
        where `comment_id` = #{commentId} or `comment_parent_id` = #{commentId}
    </update>

</mapper>