<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodright.blurryworld.mapper.PostIndexMapper">
    <resultMap id="postIndexResultMap" type="PostIndex">
        <id property="indexName" column="index_name" />
        <result property="indexMap" column="index_map" />
    </resultMap>

    <insert id="addPostIndex" parameterType="PostIndex">
        insert into `postindex`
        (`index_name`, `index_map`)
        values
        <foreach collection="postIndexMap" index="key" item="value"
                 separator=",">
            (#{key}, #{value})
        </foreach>
    </insert>

    <select id="queryPostIndexByPostIndexMap" parameterType="map" resultMap="postIndexResultMap">
        select * from `postindex`
        where `index_name` in
        <!-- 传入参数为Map, index属性设置key, item属性设置value -->
        <foreach collection="postIndexMap" item="item" index="index"
                 open="(" separator="," close=")">
            #{index}
        </foreach>
    </select>

    <update id="updatePostIndex" parameterType="map">
        update `postindex`
        set `index_map` =
            <trim prefix="case" suffix="end">
                <foreach collection="postIndexMap" index="key" item="value">
                    when `index_name` = #{key} then #{value}
                </foreach>
            </trim>
        where `index_name` in
            <foreach collection="postIndexMap" index="key" item="value"
                     open="(" separator="," close=")">
                #{key}
            </foreach>
    </update>

</mapper>