<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodright.blurryworld.mapper.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="avatar" column="avatar" />
        <result property="accountCreateTime" column="account_create_time" />
        <result property="accountLastLoginTime" column="account_last_login_time" />
        <result property="accountStatus" column="account_status" />
    </resultMap>

    <insert id="addUser" parameterType="User">
        insert into user
        (`username`,`password`,`nickname`,`gender`,`account_create_time`,
        `account_last_login_time`,`account_status`)
        values
        (#{username}, #{password}, #{nickname}, #{gender},
         #{accountCreateTime}, #{accountLastLoginTime}, #{accountStatus})
    </insert>
    
    <select id="queryAllUser" resultMap="userResultMap">
        select * from user;
    </select>

    <select id="queryUserById" parameterType="Integer" resultMap="userResultMap">
        select * from user
        where `user_id` = #{userId}
    </select>

    <update id="updateUserById" parameterType="User">
        update user
        <set>
            <if test="username != null">
                `username` = #{username},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
            <if test="nickname != null">
                `nickname` = #{nickname},
            </if>
            <if test="gender != null">
                `gender` = #{gender},
            </if>
            <if test="accountStatus != null">
                `account_status` = #{accountStatus},
            </if>
        </set>
        where `user_id` = #{userId}
    </update>

    <update id="deleteUserById" parameterType="Integer">
        delete from user
        where `user_id` = #{userId}
    </update>
    
    <select id="queryAllUserCount" resultType="Integer">
        select count(*) from user;
    </select>

    <select id="queryUserByPagination" parameterType="map" resultMap="userResultMap">
        select * from user
        limit #{currentStartIndex}, #{pageSize}
    </select>

    <select id="queryUserByUsername" parameterType="String" resultMap="userResultMap">
        select * from user
        where `username` = #{username}
    </select>

    <update id="updateAvatar" parameterType="User">
        update user set
        `avatar` = #{avatar}
        where `user_id` = #{userId}
    </update>


</mapper>