<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/images/favicon.ico}"/>
    <!-- bootstrap.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- fontawesome.css -->
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
</head>
<body>
    <h1>404</h1>


    <!-- jquery-3.5.1.js -->
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <!-- bootstrap.bundle.js -->
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>